@font-face {
    font-family: "hind-bold";
    src: url("../../fuentes/Hind/Hind-Bold.ttf") ;
}

@font-face {
    font-family: "hind-regular";
    src: url("../../fuentes/Hind/Hind-Regular.ttf") ;
}

@font-face {
    font-family: "hind-light";
    src: url("../../fuentes/Hind/Hind-Light.ttf") ;
}

@font-face {
    font-family: "JosefinSans-Medium";
    src: url("../../fuentes/static/JosefinSans-Medium.ttf") ;
}

@font-face {
    font-family: "JosefinSans-Light";
    src: url("../../fuentes/static/JosefinSans-Light.ttf") ;
}


:root{
	--mar:clamp(1.5rem , calc(1.5rem + 0.50vw) , 2rem);
}

*{
	margin: 0;
	padding:0px;
	outline:none;
	
}
	
html{
	font-size: 16px;
    width: 100%;
    height: fit-content;
	font-family: "JosefinSans-Light";
	color: #f2f2f2;
	overflow-x: hidden; 
}


body{
	height: 100%;
	width: 100%;
	scroll-behavior: smooth;

}


.root{
	--fontsize-clamp-901:clamp(12px,1.5vw,2.2vw);
	--fontsize-clamp-900:clamp(15px,1.5vw,2.2vw);
}

a{
	text-decoration: none;
	color: #f2f2f2;
	font-size: 18px;
}

ul , li{
	list-style: none;
	
}



/* ------------------------------------------ menu ----------------------------------- */

.qeo{
	font-size: 200%;
	font-family: "JosefinSans-Medium";

}
 
.control{
	position: relative;
	font-size: 90%;
	color: #f2f2f2;
}


#menu{
	width: 100%;
	height: 4em;
	background-color: #0212a0e8;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	z-index: 4;
 	position: sticky;
	top:0px;
}

#ul_general{
	display: flex;
	height: 100%;
	align-items: center;
	box-sizing: border-box;
}

#ul_general>li:hover {
	transition: 0.1s;
	border-bottom-color:#ffffff; 
	border-bottom-width:2.5px;
	border-bottom-style: solid;
}

.ul_servicios{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: -100%;
	right: 0;
	width: 17.85vw;
	background-color: #0212a0e8;
	width:30%;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.2s ease , top 0.5s ease;

	
}

.items_total{
	display: flex;
	align-items: center;
    font-size: 100%;
    transition: padding 0.5s ease;
    height: 100%;
	margin:0 var(--mar);
	width: 100%;
	cursor: pointer;
	box-sizing: border-box;
} 


#icono_menu_servicio{
	visibility: hidden;
	display: none;
}

.items_servicios{
	height: 80px;
}

.separador{
	opacity: 0.2;
	width: 100%;
}

.items_servicios:hover{
	background-color: #0a0840c0;
}

.separador_hover{
	opacity: 1;
	transition: opacity 0.5s ease;
}

.flecha{
	position:relative;
	top: 2.5px;;
	width: 15px;
	transition: transform 0.15s;
}

.giro{
	transform: rotate(90deg);
	transition: transform 0.25s;
}

.no_invisible{
	opacity: 1;
	top:100%;
	transition: opacity 0.5s ease , top 0.5s ease;
	pointer-events: all;
}

#fumigacion, #desinfeccion,#asesorio_tecnica,#laboratorio_tecnico,#limpieza_traumatica{
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 20px;
	padding-left:20px ;
}

#label_menu_movil{
	visibility: hidden;
}

#icono_menu{
	position: relative;
	left: 35%;
	width: 5.5%;
	visibility: hidden;
	display: none;
}



#icono_menu:checked ~ #ul_general{
	visibility: visible;
    opacity: 1;
}

/* ------------------------------------------ fin menu ----------------------------------- */

.bodega{
    position: fixed;
	width: fit-content;
	right: 20px;
	bottom: 0;
	z-index: 4;
	box-sizing: border-box;
}

.div_dolar_ws{
    display: flex;
	position: relative;
	width: 60px;
	height: 60px;
	margin: 15px 0 15px auto ;
	align-items: center;
	border-radius: 50px;
	border-style: -1px;
	box-sizing: border-box;
	padding: 8px;
	box-shadow: 1.5px 0 5px #50898a;
	background-color:  #f2f2f2;;
	transition: width 0.4s;
}

.div_presupuesto>h3{
    display: none; 
    opacity: 0;
} 

.div_presupuesto:hover{
   width: 250px;
   transition: width 0.5s ease;
}
.div_presupuesto:hover h3{
   display: flex;
   opacity: 1;
   transition: opacity 0.5s ease;
   margin: 0 30px 0 auto;
   font-size:1.2rem ;
}


#relleno_dolar_ws{
	fill: #f2f2f2;;
}

#imagen_dolar_ws{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: auto auto;
} 

.Vector , #Vector_2{
	fill: #16347d;
} 

.whatsapp{
	fill: #1db81b;
} 

#enlace_dolar_ws{
	position: absolute;
	left: -12%;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border-style: -1px;
}

.div_dolar_ws:hover .Vector {
	fill:  #f2f2f2;
}

.div_dolar_ws:hover #Vector_2 {
	fill:  #f2f2f2;
}

.div_dolar_ws:hover #relleno_dolar_ws {
	fill: #16347d;
}

.div_dolar_ws:hover  {
	background-color: #16347d;
}

.div_whatsapp>h3{
	display: none; 
	opacity: 0;
} 

.div_whatsapp:hover{
	background-color: #1db81b;
	width: 250px;
	transition: width 0.5s ease;
}

.div_whatsapp:hover h3{
	display: flex;
	opacity: 1;
	transition: opacity 0.5s ease;
	margin: 0 30px 0 auto;
	font-size:1.2rem ;
}
.organizacion{
    height: 100%;
}

.contenerdor_titulo_limpieza{
    margin-top: 5px;
    background-color: #16347d;
    text-align:center;
    height: 180px;
}

.titulo_limpieza{
    width: 50%;
    font-size: 400%;
    padding-top: 50px;
    margin: 0 auto;
    font-family: "hind-bold";
}

.linea{
    background-color: whitesmoke;
    height: 1%;
    width: 50%;
    margin: 0 auto;
    opacity: 0.35;
}




 footer{
    margin-top: 50px;
    height: 100px;
}

footer>section{
    background-color: #16347d;
    height: 100%;
}

footer>section>p{
    text-align: center;
    padding-top: 50px;
    font-family: "hind-light";
}
 

.clinica-hogar{
    display: flex;
    width: 75%;
    height: fit-content;
    color: black;
    margin: 100px auto 100px auto;
    align-items: center;
}


#contenedor_img{
    display: flex;
    width: 100%;
    height: 100%;
    margin-right: 60px;
    margin-left: 30px;
}

#lista_clinica-hogar{
  font-family: "hind-light";
  font-size: 130%;
}

#img_clinica{
    width: 100%;
}

#img_oficina{
    margin: 0 auto;
    width: 100%;
}

.separacion_ul{
    height: 5px;
    width: 75%;
    background-color: whitesmoke;
    margin:0 auto
}

@media only screen and (max-width:1300px){
    .clinica-hogar{
        display: block;
    }

    #contenedor_img{
        margin-bottom: 60px;
        margin-top: 60px;
    }
}

@media  only screen and (max-width:1240px){
    .titulo_limpieza{
        font-size: 300%;
    }
}

@media  only screen and (max-width:940px){

    .qeo{
        font-size: 200%;
    
    }
     
    .control{
        position: relative;
        font-size: 80%;
        color: #f2f2f2;
    }

    .items_total{
		justify-content: center;
	} 

	#ul_general{
		position: absolute;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.25s ease;
		bottom: -100%;
		right: 0;
		margin-right: 0;
		width: 100%;
		align-items:flex-start;
		background-color:#0212a0e8;
	}

 	.ul_servicios{
		width: 45%;
	} 

	#label_menu_movil{
		visibility: visible;
	}


    .titulo_limpieza{
        font-size: 240%;
    } 


    .div_dolar_ws{
		display: flex;
		position: relative;
		width: 50px;
        height: 50px;
		margin: 15px 0 15px auto ;
		align-items: center;
		border-radius: 50px;
		border-style: -1px;
		padding: 8px;
		box-shadow: 1.5px 0 5px #50898a;
		background-color:  #f2f2f2;
		transition: width 0.4s;
	}

   .div_presupuesto:hover{
	   width: 50px;
   }
   .div_presupuesto:hover h3{
	   display: none;
   }
   
   #relleno_dolar_ws{
	   fill: #f2f2f2;
   }

   .Vector , #Vector_2{
	   fill: #16347d;
   } 
   
   .whatsapp{
	   fill: #f2f2f2;
   }	


	.div_dolar_ws:hover .circulo_dolar {
	   fill:  #16347d;
   } 
   
   .div_dolar_ws:hover #Vector_2 {
	   fill:  #16347d;
   }
   
   .div_dolar_ws:hover #relleno_dolar_ws {
	   fill: #f2f2f2;
   }
   
   .div_dolar_ws:hover  {
	   background-color: #f2f2f2;
   }
   
   .div_whatsapp{
		background-color: #1db81b
   } 

   #whatsapp_900:hover{
	fill: #f2f2f2;
}
   
   .div_whatsapp:hover{
	   background-color: #1db81b;
	   width: 50px;
   }
   
   .div_whatsapp:hover h3{
	   display: none;
	   opacity: 0;
   }

   .ul_servicio>li>a{
    display: none;
    }


}


@media only screen and (max-width:900px){

          .div_dolar_ws{
            display: flex;
            position: relative;
            width: 35px;
            height: 35px;
            margin: 15px 0 15px auto ;
            align-items: center;
            border-radius: 50px;
            border-style: -1px;
            padding: 8px;
            box-shadow: 1.5px 0 5px #50898a;
            background-color:  #f2f2f2;
            transition: width 0.4s;
        }

        .div_whatsapp{
            background-color: #1db81b
       } 

}


